.LandingPage_container {
  
  display: grid;
  grid-template-rows: auto auto auto;

}

.Presentation_container {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6) url('../img/pexels-ricardo-esquivel-2539076.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;


  display: grid;
  grid-template-rows: 1fr 9fr;

  color: var(--light-pink-skytl);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 2rem;

  margin: 0;
  padding: 0;
}

.LandingText_container{
  width: 100%;
  max-width: 80rem;

  padding-top: 17vh;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  
  font-size: 1.25rem;
}

.LandingText_container button{
  font-size: 2rem;
  font-weight: normal;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  
}



.LandingPage_container h1{
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Presentation_container {
    background: rgba(0, 0, 0, 0.3) url('../img/pexels-zhang-kaiyv-1139556.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .LandingText_container {
    padding-left: 10rem;
    font-size: 2rem;
  }

  .LandingText_container button{
    /* width: 80rem; */
  }
}