.SignupForm_container{
  width: 100%;
  max-width: 73rem;
  padding: 2rem;
  margin: 0 auto;

}

.SignupForm_container h1{
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 2.5rem;
}
.Interest_form {
  display: flex;
  flex-direction: column;
  padding: 0;

  
  height: auto;
  
  /* border: solid 1px; */
}


.Interest_form select {
  border: none;
  border-bottom: solid rgb(169, 167, 167) 1px;

  
  width: auto;
  height: 5.6rem;
  
  margin-bottom: 1rem;
  padding: 1rem;
  
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  color: rgb(126, 125, 125);
  
  background-color: transparent;
}

.Interest_form select option {
  
  color: var(--black-skytl);
  
}


.Interest_form input{
  border: none;
  border-bottom: solid rgb(169, 167, 167) 1px;

  
  height: 5.6rem;
  width: 100%;

  margin-bottom: 1rem;
  padding: 1rem;
  
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  
  background-color: transparent;
}

.Interest_form datalist{
  position: absolute;
  
  width: 100%;
}


.Skytl_button.property_owner_display_button {
  margin-bottom: 2rem;
  background-color: rgb(130, 130, 216);
}

.Interest_container .signup_message {
  font-family: "Open Sans",  sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;

  margin-top: 4rem;
  max-width: 73rem;
  margin: 4rem auto 1rem auto;
}

.Interest_container .signup_message h2{
  
  font-weight: lighter;

  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .Interest_form  {
    flex-direction: column;
    justify-content: center
  }


  .Interest_form input{
    width: auto;
    margin-right: 0;
  }
  
  .Interest_form button{
    margin-top: 2rem;
  }
}