
:root {
  /* Colors  */
  --light-pink-skytl: #FBF1F2;
  --red-skytl: #CB4154;
  --black-skytl: #1B1B1B;
  --gray-skytl: #5E5E5E;
  --gray-light-skytl: #CECECE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* 
Font weights:
  - Regular 400
  - Medium 500
  - SemiBold 600
  - Bold 700 
*/

  html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  font-family: 'Playfair Display', serif;

  color: var(--black-skytl);
}


/* GENERAL STYLES */

button.Skytl_button {
  background-color: #CB4154;
  color: white;

  border: none;
  height: 5.6rem;
  width: 100%;
  padding: 8px 32px;
  
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

a.Skytl_button {
  background-color: #CB4154;
  color: white;

  border: none;
  height: 5.6rem;
  width: 15rem;
  padding: 8px 32px;
  
  letter-spacing: 2px;
  font-weight: bolder;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

